<!-- Footer with Pagination -->
<div class="table-footer">
  <div class="footer-left">
    <span class="total-count">{{ totalLabel }} {{ total }}</span>
  </div>

  <div class="footer-right">
    <div class="page-size-selector">
      <span class="page-size-text">{{ pageSize }} {{ pageSizeLabel }}</span>
      <nz-select
        [(ngModel)]="pageSize"
        (ngModelChange)="onPageSizeChange($event)"
        class="page-size-select"
        nzBorderless
        [attr.aria-label]="'Seleccionar tamaño de página'">
        <nz-option 
          *ngFor="let option of pageSizeOptions" 
          [nzValue]="option" 
          [nzLabel]="option.toString()">
        </nz-option>
      </nz-select>
    </div>

    <nz-pagination
      [(nzPageIndex)]="pageIndex"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzShowSizeChanger]="false"
      [nzShowQuickJumper]="false"
      [nzItemRender]="renderItemTemplate"
      (nzPageIndexChange)="onPageChange($event)"
      class="pagination">
    </nz-pagination>

    <ng-template #renderItemTemplate let-type let-page="page">
      <ng-container [ngSwitch]="type">
        <a *ngSwitchCase="'prev'" class="pagination-prev-btn" aria-label="Página anterior">
          <span nz-icon nzType="left"></span>
        </a>
        <a *ngSwitchCase="'next'" class="pagination-next-btn" aria-label="Página siguiente">
          <span nz-icon nzType="right"></span>
        </a>
        <a *ngSwitchCase="'page'" class="pagination-number" [attr.aria-label]="'Ir a página ' + page">
          {{ page }}
        </a>
        <span *ngSwitchDefault class="pagination-ellipsis">...</span>
      </ng-container>
    </ng-template>
  </div>
</div>
